/* Custom global styling */
:root {
  font-family: "Barlow Condensed", sans-serif;
}
/* header class */
.jumbotron {
  background-color: skyblue;
  color: var(--white);
}
/* header paragraph class */
.lead {
  text-align: center;
}
/* the class determining the lowUV colour */
.lowUV {
  background-color: var(--green);
}
/* the class determining the moderateUV colour */
.moderateUV {
  background-color: var(--yellow);
}
/* the class determining the highUV colour */
.highUV {
  background-color: var(--orange);
}
/* the class determining the very-highUV colour */
.very-highUV {
  background-color: var(--red);
}
/* the class determining the extremeUV colour */
.extremeUV {
  background: var(--pink);
}
/* this class determins the body font, size and margin */
body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  margin: auto;
}
/* this class determins the card header background colour */
.card-header {
  background-color: skyblue;
}
/* this class determins the background colour of the card style */
.card-body {
  background-color: #f7f8f9;
}
/* heading styles */
h1 {
  text-align: center;
  font-size: 80px;
}
h2,
h3 {
  text-align: left;
}
/* this class is determining the container the body elements are wrapped in */
.container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin: auto;
}
/* search section id sytle this also determins the section wrap */
#search {
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 0;
}
/* this class determins the font size and alignment within the input search field */
.form-control {
  font-size: 32px;
  align-items: center;
}
/* class that dictates the hover colour for the input field */
.form-control:hover {
  background-color: #f7f8f9;
}
/* Search City ID */
#search-city {
  width: 450px;
  height: 70px;
}
/* search bar ID */
#search-bar {
  flex-direction: column;
}
/* search button ID */
#search-btn {
  font-weight: bold;
  background-color: skyblue;
  border-color: skyblue;
}
/* previously searched ID padding */
#previously-searched {
  padding: inherit;
}
/* clear button ID */
#clear-button {
  margin-bottom: 10px;
  font-weight: bold;
  background-color: skyblue;
  border-color: skyblue;
}
/* weather today ID max width */
#weather-today {
  max-width: 90%;
}
/* weather forecast ID */
#weather-forecast {
  flex-wrap: wrap;
  align-content: center;
  max-width: 90%;
}
/* icon class */
.img-resize {
  display: inline;
  height: 3rem;
}
/* this is the hide class used to hide UI elements */
.hide {
  display: none;
}
/* medea Queries are used to change the layout at certain break points to assist in making the site responsive */
@media screen and (max-width: 1600px) {
  #search {
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 0;
  }
  .container {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  #weather {
    margin: auto;
    max-width: fit-content;
  }
  #weather-today {
    max-width: 90%;
  }
  #weather-forecast {
    flex-direction: row;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  #weather-forecast {
    flex-direction: row;
  }
}
@media screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  #weather {
    max-width: 100%;
  }
  #weather-forecast {
    flex-direction: row;
  }
}
@media screen and (max-width: 770px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  #weather {
    max-width: 100%;
  }
  #weather-forecast {
    flex-direction: column;
    gap: 280px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  #weather {
    max-width: 100%;
  }
  #weather-forecast {
    flex-direction: column;
    gap: 280px;
  }
}
